{
  "semi": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.json", ".eslintrc", "*.yml", "*.yaml", "eslint.config.mjs"],
      "options": {
        "trailingComma": "none"
      }
    }
  ],
  "singleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
